body {
    background-color: #e1e3d1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}

h2 {
    color: rgb(58, 174, 227);
}

.container {
    
    border: 1px solid #b5631d;
    width: 420px;
    background: transparent;
    border-radius: 12px;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 15px 3px rgba(233, 94, 214, 0.4);
    padding: 30px 40px;
}

input {

    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(74, 156, 219);
    border-radius: 20px;
    max-width: 200px;
}

select {

    padding: 10px;
    margin: 10px 0;
    border: 1px solid olive;
    border-radius: 20px;
    max-width: 120px;
}

button {
    background-color: burlywood;
    color: #cd0808;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    max-width: 200px;
}

button:hover {
    background-color: rgb(48, 172, 37);
}

#result {
    margin: 20px 20px;
    font-weight: bold;
    color: rgb(128, 0, 58);
}